GO
/****** Object:  StoredProcedure [Production].[SOPInsert]    Script Date: 15/01/2015 22:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [Production].[SOPInsert]
--Add the parameters for the stored procedure here
@SOPID nvarchar(50)OUTPUT,
        @OLFruitInEB            NUMERIC(18,3),
        @OLEBStalk              NUMERIC(18,3),
        @OLPressCakeFibre       NUMERIC(18,3),
        @OLNutExpressCake       NUMERIC(18,3),
        @OLFinalElement         NUMERIC(18,3),
        @OLOER                  NUMERIC(18,3),
        @OLFruitInEBSample      NUMERIC(18,3),
        @OLEBStalkSample        NUMERIC(18,3),
        @OLPressCakeFibreSample NUMERIC(18,3),
        @OLNutExpressCakeSample NUMERIC(18,3),
        @OLFinalElementSample   NUMERIC(18,3),
        @OLOERSample            NUMERIC(18,3),
        @OLPressFibreOWM        NUMERIC(18,3),
        @OLSludgeCentrifugeOWM  NUMERIC(18,3),
        @OLFlowOWM              NUMERIC(18,3),
        @OLPressFibreODM        NUMERIC(18,3),
        @OLSludgeCentrifugeODM  NUMERIC(18,3),
        @KLFruitInEB            NUMERIC(18,3),
        @KLFibreCyclone         NUMERIC(18,3),
        @KLLTDS1                NUMERIC(18,3),
        @KLLTDS2                NUMERIC(18,3),
        @KLLTDS3                NUMERIC(18,3),
        @KLLTDS4                NUMERIC(18,3),
        @KLHydrocyclone         NUMERIC(18,3),
        @KLKER                  NUMERIC(18,3),
        @KLFibreCycloneSample   NUMERIC(18,3),
        @KLLTDS1Sample          NUMERIC(18,3),
        @KLLTDS2Sample          NUMERIC(18,3),
        @KLLTDS3Sample          NUMERIC(18,3),
        @KLLTDS4Sample          NUMERIC(18,3),
        @KLHydrocycloneSample   NUMERIC(18,3),
        @KLKERSample            NUMERIC(18,3),
        @QltCPOFFA              NUMERIC(18,3),
        @QltCPOMoisture         NUMERIC(18,3),
        @QltCPODirt             NUMERIC(18,3),
        @QltCPKOFFA             NUMERIC(18,3),
        @QltCPKOMoisture        NUMERIC(18,3),
        @QltCPKODirt            NUMERIC(18,3),
        @QltFKMoisture          NUMERIC(18,3),
        @QltFKDirt              NUMERIC(18,3),
        @QltFKBrokenKernel      NUMERIC(18,3),
        @QltFKNutPressCake      NUMERIC(18,3),
        @QltKAMoisture          NUMERIC(18,3),
        @QltKADirt              NUMERIC(18,3),
        @QltKABrokenKernel      NUMERIC(18,3),
        @QltKANutPressCake      NUMERIC(18,3),
        @GenThroughput          NUMERIC(18,3),
        @GenPerCagCapacity      NUMERIC(18,3),
        @GenEfficiencyRolex		NUMERIC(18,3),
        @GenEfficiencyRippleMill NUMERIC(18,3),
        @GrdUnripeBunch         NUMERIC(18,3),
        @GrdUnderripeBunch      NUMERIC(18,3),
        @GrdRipeBunch           NUMERIC(18,3),
        @GrdOvrRipeBunch        NUMERIC(18,3),
        @GrdEmtBunch            NUMERIC(18,3),
        @GrdTotNrmFruit         NUMERIC(18,3),
        @GrdParthenocarpy       NUMERIC(18,3),
        @GrdHardBunch           NUMERIC(18,3),
        @GrdTotAbnormal         NUMERIC(18,3),
        @GrdGrandTotal          NUMERIC(18,3),
        @GrdLooseFruit          NUMERIC(18,3),
        @GrdUndamage            NUMERIC(18,3),
        @GrdLightDamage         NUMERIC(18,3),
        @GrdDamage              NUMERIC(18,3),
		@Nut             NUMERIC(18,3),
		@Nuts             NUMERIC(18,3),
		@Sterilezer             NUMERIC(18,3),
		@Sterilezers             NUMERIC(18,3),
        --   @ConcurrencyID rowversion output,
        @CreatedBy nvarchar(50),
        @CreatedOn DATETIME,
        @ModifiedBy nvarchar(50),
        @ModifiedOn DATETIME,
        @EstateID nvarchar(50),
        @EstateCode nvarchar(50),
		@LongStick              NUMERIC(18,3)
AS
        BEGIN TRY
                -- Get New Primary key
                DECLARE @i INT = 2
                BEGIN
                        SELECT @SOPID = @EstateCode + 'R' + CAST ( (ISNULL(MAX(id),0) + 1) AS VARCHAR)
                        FROM   Production.SOP
                        WHILE EXISTS
                        (SELECT id
                        FROM    Production.SOP
                        WHERE   SOPID = @SOPID
                        )
                        BEGIN
                                SELECT @SOPID = @EstateCode + 'R' + CAST ( (ISNULL(MAX(id),0) + @i) AS VARCHAR)
                                FROM   Production.SOP
                                SET @i = @i + 1
                        END
                        --SELECT @count = (ISNULL(MAX(Id),0) + 1) FROM Production.SOP ;
                        --SET @SOPID = @Estatecode+'R'+ CONVERT(NVARCHAR,@count);
                        -- Insert statements for procedure here
                        INSERT
                        INTO   Production.SOP
                               (
                                      [SOPID]                  ,
                                      [OLFruitInEB]            ,
                                      [OLEBStalk]              ,
                                      [OLPressCakeFibre]       ,
                                      [OLNutExpressCake]       ,
                                      [OLFinalElement]         ,
                                      [OLOER]                  ,
                                      [OLFruitInEBSample]      ,
                                      [OLEBStalkSample]        ,
                                      [OLPressCakeFibreSample] ,
                                      [OLNutExpressCakeSample] ,
                                      [OLFinalElementSample]   ,
                                      [OLOERSample]            ,
                                      [OLPressFibreOWM]        ,
                                      [OLSludgeCentrifugeOWM]  ,
                                      [OLFlowOWM]              ,
                                      [OLPressFibreODM]        ,
                                      [OLSludgeCentrifugeODM]  ,
                                      [KLFruitInEB]            ,
                                      [KLFibreCyclone]         ,
                                      [KLLTDS1]                ,
                                      [KLLTDS2]                ,
                                      [KLLTDS3]                ,
                                      [KLLTDS4]                ,
                                      [KLHydrocyclone]         ,
                                      [KLKER]                  ,
                                      [KLFibreCycloneSample]   ,
                                      [KLLTDS1Sample]          ,
                                      [KLLTDS2Sample]          ,
                                      [KLLTDS3Sample]          ,
                                      [KLLTDS4Sample]          ,
                                      [KLHydrocycloneSample]   ,
                                      [KLKERSample]            ,
                                      [QltCPOFFA]              ,
                                      [QltCPOMoisture]         ,
                                      [QltCPODirt]             ,
                                      [QltCPKOFFA]             ,
                                      [QltCPKOMoisture]        ,
                                      [QltCPKODirt]            ,
                                      [QltFKMoisture]          ,
                                      [QltFKDirt]              ,
                                      [QltFKBrokenKernel]      ,
                                      [QltFKNutPressCake]      ,
                                      [QltKAMoisture]          ,
                                      [QltKADirt]              ,
                                      [QltKABrokenKernel]      ,
                                      [QltKANutPressCake]      ,
                                      [GenThroughput]          ,
                                      [GenPerCagCapacity]      ,
                                      [GenEfficiencyRolex]	   ,
                                      [GenEfficiencyRippleMill],
                                      [GrdUnripeBunch]         ,
                                      [GrdUnderripeBunch]      ,
                                      [GrdRipeBunch]           ,
                                      [GrdOvrRipeBunch]        ,
                                      [GrdEmtBunch]            ,
                                      [GrdTotNrmFruit]         ,
                                      [GrdParthenocarpy]       ,
                                      [GrdHardBunch]           ,
                                      [GrdTotAbnormal]         ,
                                      [GrdGrandTotal]          ,
                                      [GrdLooseFruit]          ,
                                      [GrdUndamage]            ,
                                      [GrdLightDamage]         ,
                                      [GrdDamage]              ,
                                      [CreatedBy]              ,
                                      [CreatedOn]              ,
                                      [ModifiedBy]             ,
                                      [ModifiedOn]             ,
                                      [EstateID]			,
									  [Nut]			,
									  [Nuts]			,
									  [Sterilezer]			,
									  [Sterilezers]			,
									  [LongStick]
                               )
                               VALUES
                               (
                                      @SOPID                  ,
                                      @OLFruitInEB            ,
                                      @OLEBStalk              ,
                                      @OLPressCakeFibre       ,
                                      @OLNutExpressCake       ,
                                      @OLFinalElement         ,
                                      @OLOER                  ,
                                      @OLFruitInEBSample      ,
                                      @OLEBStalkSample        ,
                                      @OLPressCakeFibreSample ,
                                      @OLNutExpressCakeSample ,
                                      @OLFinalElementSample   ,
                                      @OLOERSample            ,
                                      @OLPressFibreOWM        ,
                                      @OLSludgeCentrifugeOWM  ,
                                      @OLFlowOWM              ,
                                      @OLPressFibreODM        ,
                                      @OLSludgeCentrifugeODM  ,
                                      @KLFruitInEB            ,
                                      @KLFibreCyclone         ,
                                      @KLLTDS1                ,
                                      @KLLTDS2                ,
                                      @KLLTDS3                ,
                                      @KLLTDS4                ,
                                      @KLHydrocyclone         ,
                                      @KLKER                  ,
                                      @KLFibreCycloneSample   ,
                                      @KLLTDS1Sample          ,
                                      @KLLTDS2Sample          ,
                                      @KLLTDS3Sample          ,
                                      @KLLTDS4Sample          ,
                                      @KLHydrocycloneSample   ,
                                      @KLKERSample            ,
                                      @QltCPOFFA              ,
                                      @QltCPOMoisture         ,
                                      @QltCPODirt             ,
                                      @QltCPKOFFA             ,
                                      @QltCPKOMoisture        ,
                                      @QltCPKODirt            ,
                                      @QltFKMoisture          ,
                                      @QltFKDirt              ,
                                      @QltFKBrokenKernel      ,
                                      @QltFKNutPressCake      ,
                                      @QltKAMoisture          ,
                                      @QltKADirt              ,
                                      @QltKABrokenKernel      ,
                                      @QltKANutPressCake      ,
                                      @GenThroughput          ,
                                      @GenPerCagCapacity      ,
                                      @GenEfficiencyRolex	  ,
                                      @GenEfficiencyRippleMill,
                                      @GrdUnripeBunch         ,
                                      @GrdUnderripeBunch      ,
                                      @GrdRipeBunch           ,
                                      @GrdOvrRipeBunch        ,
                                      @GrdEmtBunch            ,
                                      @GrdTotNrmFruit         ,
                                      @GrdParthenocarpy       ,
                                      @GrdHardBunch           ,
                                      @GrdTotAbnormal         ,
                                      @GrdGrandTotal          ,
                                      @GrdLooseFruit          ,
                                      @GrdUndamage            ,
                                      @GrdLightDamage         ,
                                      @GrdDamage              ,
                                      @CreatedBy              ,
                                      GETDATE ()              ,
                                      @ModifiedBy             ,
                                      GETDATE ()             ,
                                      @EstateID		,
									  @Nut,
									  @Nuts,
									  @Sterilezer,
									  @Sterilezers,
									  @LongStick
                               );
                        
                        SELECT 1
                        --SELECT @ConcurrencyId = ConcurrencyId FROM Production .SOP   WHERE SOPID=@SOPID ;
                END
        END TRY
        BEGIN CATCH
                DECLARE @ErrorMessage NVARCHAR(4000);
                DECLARE @ErrorSeverity INT;
                DECLARE @ErrorState    INT;
                SELECT @ErrorMessage  = ERROR_MESSAGE() ,
                       @ErrorSeverity = ERROR_SEVERITY(),
                       @ErrorState    = ERROR_STATE();
                
                RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
        END CATCH;
