
GO
/****** Object:  StoredProcedure [Production].[SopSelect]    Script Date: 15/01/2015 22:29:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [Production].[SopSelect] 
		@SopId nvarchar(50),
        @EstateID NVARCHAR(50)

AS

        SET NOCOUNT ON;

        IF (@SopId IS NULL) -- Select all
        BEGIN


                SELECT   ROW_NUMBER() OVER(ORDER BY id) AS RowRank,
                         [SOPID]                                  ,
                         [OLFruitInEB]                            ,
                         [OLEBStalk]                              ,
                         [OLPressCakeFibre]                       ,
                         [OLNutExpressCake]                       ,
                         [OLFinalElement]                         ,
                         [OLOER]                                  ,
                         [OLFruitInEBSample]                      ,
                         [OLEBStalkSample]                        ,
                         [OLPressCakeFibreSample]                 ,
                         [OLNutExpressCakeSample]                 ,
                         [OLFinalElementSample]                   ,
                         [OLOERSample]                            ,
                         [OLPressFibreOWM]                        ,
                         [OLSludgeCentrifugeOWM]                  ,
                         [OLFlowOWM]                              ,
                         [OLPressFibreODM]                        ,
                         [OLSludgeCentrifugeODM]                  ,
                         [KLFruitInEB]                            ,
                         [KLFibreCyclone]                         ,
                         [KLLTDS1]                                ,
                         [KLLTDS2]                                ,
                         [KLLTDS3]                                ,
                         [KLLTDS4]                                ,
                         [KLHydrocyclone]                         ,
                         [KLKER]                                  ,
                         [KLFibreCycloneSample]                   ,
                         [KLLTDS1Sample]                          ,
                         [KLLTDS2Sample]                          ,
                         [KLLTDS3Sample]                          ,
                         [KLLTDS4Sample]                          ,
                         [KLHydrocycloneSample]                   ,
                         [KLKERSample]                            ,
                         [QltCPOFFA]                              ,
                         [QltCPOMoisture]                         ,
                         [QltCPODirt]                             ,
                         [QltCPKOFFA]                             ,
                         [QltCPKOMoisture]                        ,
                         [QltCPKODirt]                            ,
                         [QltFKMoisture]                          ,
                         [QltFKDirt]                              ,
                         [QltFKBrokenKernel]                      ,
                         [QltFKNutPressCake]                      ,
                         [QltKAMoisture]                          ,
                         [QltKADirt]                              ,
                         [QltKABrokenKernel]                      ,
                         [QltKANutPressCake]                      ,
                         [GenThroughput]                          ,
                         [GenPerCagCapacity]                      ,
                         [GenEfficiencyRolex]					  ,
                         [GenEfficiencyRippleMill]				  ,
                         [GrdUnripeBunch]                         ,
                         [GrdUnderripeBunch]                      ,
                         [GrdRipeBunch]                           ,
                         [GrdOvrRipeBunch]                        ,
                         [GrdEmtBunch]                            ,
                         [GrdTotNrmFruit]                         ,
                         [GrdParthenocarpy]                       ,
                         [GrdHardBunch]                           ,
                         [GrdTotAbnormal]                         ,
                         [GrdGrandTotal]                          ,
                         [GrdLooseFruit]                          ,
                         [GrdUndamage]                            ,
                         [GrdLightDamage]                         ,
                         [GrdDamage]                              ,
                         [CreatedBy]                              ,
                         [CreatedOn]                              ,
                         [ModifiedBy]                             ,
                         [ModifiedOn]                             ,
                         [EstateID]								,
						 [Nut]								,
						 [Nuts]								,
						 [Sterilezer]								,
						 [Sterilezers]								,
						 [LongStick]
                FROM     Production .SOP
                WHERE    EstateID =@ESTATEid
                ORDER BY ModifiedOn DESC
        END
        ELSE
        BEGIN
                SELECT   ROW_NUMBER() OVER(ORDER BY id) AS RowRank,
                         [SOPID]                                  ,
                         [OLFruitInEB]                            ,
                         [OLEBStalk]                              ,
                         [OLPressCakeFibre]                       ,
                         [OLNutExpressCake]                       ,
                         [OLFinalElement]                         ,
                         [OLOER]                                  ,
                         [OLFruitInEBSample]                      ,
                         [OLEBStalkSample]                        ,
                         [OLPressCakeFibreSample]                 ,
                         [OLNutExpressCakeSample]                 ,
                         [OLFinalElementSample]                   ,
                         [OLOERSample]                            ,
                         [OLPressFibreOWM]                        ,
                         [OLSludgeCentrifugeOWM]                  ,
                         [OLFlowOWM]                              ,
                         [OLPressFibreODM]                        ,
                         [OLSludgeCentrifugeODM]                  ,
                         [KLFruitInEB]                            ,
                         [KLFibreCyclone]                         ,
                         [KLLTDS1]                                ,
                         [KLLTDS2]                                ,
                         [KLLTDS3]                                ,
                         [KLLTDS4]                                ,
                         [KLHydrocyclone]                         ,
                         [KLKER]                                  ,
                         [KLFibreCycloneSample]                   ,
                         [KLLTDS1Sample]                          ,
                         [KLLTDS2Sample]                          ,
                         [KLLTDS3Sample]                          ,
                         [KLLTDS4Sample]                          ,
                         [KLHydrocycloneSample]                   ,
                         [KLKERSample]                            ,
                         [QltCPOFFA]                              ,
                         [QltCPOMoisture]                         ,
                         [QltCPODirt]                             ,
                         [QltCPKOFFA]                             ,
                         [QltCPKOMoisture]                        ,
                         [QltCPKODirt]                            ,
                         [QltFKMoisture]                          ,
                         [QltFKDirt]                              ,
                         [QltFKBrokenKernel]                      ,
                         [QltFKNutPressCake]                      ,
                         [QltKAMoisture]                          ,
                         [QltKADirt]                              ,
                         [QltKABrokenKernel]                      ,
                         [QltKANutPressCake]                      ,
                         [GenThroughput]                          ,
                         [GenPerCagCapacity]                      ,
                         [GenEfficiencyRolex]					  ,
                         [GenEfficiencyRippleMill]				  ,
                         [GrdUnripeBunch]                         ,
                         [GrdUnderripeBunch]                      ,
                         [GrdRipeBunch]                           ,
                         [GrdOvrRipeBunch]                        ,
                         [GrdEmtBunch]                            ,
                         [GrdTotNrmFruit]                         ,
                         [GrdParthenocarpy]                       ,
                         [GrdHardBunch]                           ,
                         [GrdTotAbnormal]                         ,
                         [GrdGrandTotal]                          ,
                         [GrdLooseFruit]                          ,
                         [GrdUndamage]                            ,
                         [GrdLightDamage]                         ,
                         [GrdDamage]                              ,
                         [CreatedBy]                              ,
                         [CreatedOn]                              ,
                         [ModifiedBy]                             ,
                         [ModifiedOn]                             ,
                         [EstateID]				,
						 [Nut]								,
						 [Nuts]								,
						 [Sterilezer]								,
						 [Sterilezers]								,
						 [LongStick]
                FROM     Production .SOP
                WHERE    SopId =@SopId
                ORDER BY ModifiedOn DESC

        END
