USE [BSPMS_HO]
GO
/****** Object:  StoredProcedure [Accounts].[JournalGLLedgerInsert]    Script Date: 7/3/2016 4:56:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










--============================================================================================================================
-- Created By : Kumaravel
-- Created date:  11-Nov-2009
-- Modified By:Kumaravel
-- Last Modified Date:  jun 9 2010
-- Module     : Accounts
-- Screen(s)  :Journal Approval
-- Description: To Save Values in Accounts. GLLedger from approval screens
--============================================================================================================================

ALTER PROCEDURE [Accounts].[JournalGLLedgerInsert]
--@JournalDetID nvarchar(50) output,
	@EstateID nvarchar(50),
	@EstateCode nvarchar(50),
	@Amonth nvarchar(50),
	@AYear int,
	@COAID nvarchar(50),
	@Debit numeric(18,3),
	@Credit numeric(18,3),
	@CreatedBy nvarchar(50),
	@CreatedOn datetime,
	@ModifiedBy nvarchar(50),
	@ModifiedON datetime,
	@MonthValue numeric(18,3)

AS	
DECLARE @GLLedgerID nvarchar(50)
Declare @M1 numeric(18,2) =0
Declare @M2 numeric(18,2) =0
Declare @M3 numeric(18,2) =0
Declare @M4 numeric(18,2) =0
Declare @M5 numeric(18,2) =0
Declare @M6 numeric(18,2) =0
Declare @M7 numeric(18,2) =0
Declare @M8 numeric(18,2) =0
Declare @M9 numeric(18,2) =0
Declare @M10 numeric(18,2) =0
Declare @M11 numeric(18,2) =0
Declare @M12 numeric(18,2) =0

Declare @M1D numeric(18,2) =0
Declare @M2D numeric(18,2) =0
Declare @M3D numeric(18,2) =0
Declare @M4D numeric(18,2) =0
Declare @M5D numeric(18,2) =0
Declare @M6D numeric(18,2) =0
Declare @M7D numeric(18,2) =0
Declare @M8D numeric(18,2) =0
Declare @M9D numeric(18,2) =0
Declare @M10D numeric(18,2) =0
Declare @M11D numeric(18,2) =0
Declare @M12D numeric(18,2) =0

Declare @M1C numeric(18,2) =0
Declare @M2C numeric(18,2) =0
Declare @M3C numeric(18,2) =0
Declare @M4C numeric(18,2) =0
Declare @M5C numeric(18,2) =0
Declare @M6C numeric(18,2) =0
Declare @M7C numeric(18,2) =0
Declare @M8C numeric(18,2) =0
Declare @M9C numeric(18,2) =0
Declare @M10C numeric(18,2) =0
Declare @M11C numeric(18,2) =0
Declare @M12C numeric(18,2) =0

BEGIN TRY
Declare @ModID nvarchar(50)

    
    Declare @FOpen numeric (18,3)=0
	SET @FOpen ='0'
	Declare @FClose numeric (18,3)=0
	SET @FClose  ='0' 
   
   --BEGIN
			--			DECLARE @i INT = 2
   --                     SELECT @GLLedgerID= @EstateCode + 'R' + CAST ( (ISNULL(MAX(id),0) + 1) AS VARCHAR)
   --                     FROM   Accounts.GLLedger 
   --                     WHILE EXISTS
   --                     (SELECT id
   --                     FROM    Accounts.GLLedger 
   --                     WHERE   GLLedgerID  = @GLLedgerID
   --                     )
   --                     BEGIN
   --                             SELECT @GLLedgerID = @EstateCode + 'R' + CAST ( (ISNULL(MAX(id),0) + @i) AS VARCHAR)
   --                             FROM   Accounts.GLLedger 
   --                             SET @i = @i + 1
			--			END
		
	IF (@Amonth =1)
	BEGIN
	INSERT INTO Accounts.GLLedger
			(
			EstateID,
			AYear,
			COAID,
			M1,
			M1D,
			M1C,
			M2,
			M2D,
			M2C,
			M3,
			M3D,
			M3C,
			M4,
			M4D,
			M4C,
			M5,
			M5D,
			M5C,
			M6,
			M6D,
			M6C,
			M7,
			M7D,
			M7C,
			M8,
			M8D,
			M8C,
			M9,
			M9D,
			M9C,
			M10,
			M10D,
			M10C,
			M11,
			M11D,
			M11C,
			M12,
			M12D,
			M12C,
			FOpen,
			FClose,			
			CreatedBy,
			CreatedOn,
			ModifiedBy,
			ModifiedOn)
		VALUES
			(@EstateID,
			@AYear,
			@COAID,
			@MonthValue,
			@Debit,
			@Credit,
			@M2,
			@M2D,
			@M2C,
			@M3,
			@M3D,
			@M3C,
			@M4,
			@M4D,
			@M4C,
			@M5,
			@M5D,
			@M5C,
			@M6,
			@M6D,
			@M6C,
			@M7,
			@M7D,
			@M7C,
			@M8,
			@M8D,
			@M8C,
			@M9,
			@M9D,
			@M9C,
			@M10,
			@M10D,
			@M10C,
			@M11,
			@M11D,
			@M11C,
			@M12,
			@M12D,
			@M12C,
			@FOpen,
			@FClose,
			@CreatedBy,
			GETDATE(),
			@ModifiedBy,
			GETDATE()
			);  
	END 
	ELSE IF (@Amonth =2)
	BEGIN
	INSERT INTO Accounts.GLLedger
			(
			EstateID,
			AYear,
			COAID,
			M1,
			M1D,
			M1C,
			M2,
			M2D,
			M2C,
			M3,
			M3D,
			M3C,
			M4,
			M4D,
			M4C,
			M5,
			M5D,
			M5C,
			M6,
			M6D,
			M6C,
			M7,
			M7D,
			M7C,
			M8,
			M8D,
			M8C,
			M9,
			M9D,
			M9C,
			M10,
			M10D,
			M10C,
			M11,
			M11D,
			M11C,
			M12,
			M12D,
			M12C,
			FOpen,
			FClose,			
			CreatedBy,
			CreatedOn,
			ModifiedBy,
			ModifiedOn)
		VALUES
			(@EstateID,
			@AYear,
			@COAID,
			@M1,
			@M1D,
			@M1C,
			@MonthValue,
			@Debit,
			@Credit,
			@M3,
			@M3D,
			@M3C,
			@M4,
			@M4D,
			@M4C,
			@M5,
			@M5D,
			@M5C,
			@M6,
			@M6D,
			@M6C,
			@M7,
			@M7D,
			@M7C,
			@M8,
			@M8D,
			@M8C,
			@M9,
			@M9D,
			@M9C,
			@M10,
			@M10D,
			@M10C,
			@M11,
			@M11D,
			@M11C,
			@M12,
			@M12D,
			@M12C,
			@FOpen,
			@FClose,
			@CreatedBy,
			GETDATE(),
			@ModifiedBy,
			GETDATE()
			);  
	END 
	ELSE IF (@Amonth =3)
	BEGIN
	INSERT INTO Accounts.GLLedger
			(
			EstateID,
			AYear,
			COAID,
			M1,
			M1D,
			M1C,
			M2,
			M2D,
			M2C,
			M3,
			M3D,
			M3C,
			M4,
			M4D,
			M4C,
			M5,
			M5D,
			M5C,
			M6,
			M6D,
			M6C,
			M7,
			M7D,
			M7C,
			M8,
			M8D,
			M8C,
			M9,
			M9D,
			M9C,
			M10,
			M10D,
			M10C,
			M11,
			M11D,
			M11C,
			M12,
			M12D,
			M12C,
			FOpen,
			FClose,			
			CreatedBy,
			CreatedOn,
			ModifiedBy,
			ModifiedOn)
		VALUES
			(@EstateID,
			@AYear,
			@COAID,
			@M1,
			@M1D,
			@M1C,
			@M2,
			@M2D,
			@M2C,
			@MonthValue,
			@Debit,
			@Credit,
			@M4,
			@M4D,
			@M4C,
			@M5,
			@M5D,
			@M5C,
			@M6,
			@M6D,
			@M6C,
			@M7,
			@M7D,
			@M7C,
			@M8,
			@M8D,
			@M8C,
			@M9,
			@M9D,
			@M9C,
			@M10,
			@M10D,
			@M10C,
			@M11,
			@M11D,
			@M11C,
			@M12,
			@M12D,
			@M12C,
			@FOpen,
			@FClose,
			@CreatedBy,
			GETDATE(),
			@ModifiedBy,
			GETDATE()
			);  
	END 
	ELSE IF (@Amonth =4)
	BEGIN
	INSERT INTO Accounts.GLLedger
			(
			EstateID,
			AYear,
			COAID,
			M1,
			M1D,
			M1C,
			M2,
			M2D,
			M2C,
			M3,
			M3D,
			M3C,
			M4,
			M4D,
			M4C,
			M5,
			M5D,
			M5C,
			M6,
			M6D,
			M6C,
			M7,
			M7D,
			M7C,
			M8,
			M8D,
			M8C,
			M9,
			M9D,
			M9C,
			M10,
			M10D,
			M10C,
			M11,
			M11D,
			M11C,
			M12,
			M12D,
			M12C,
			FOpen,
			FClose,			
			CreatedBy,
			CreatedOn,
			ModifiedBy,
			ModifiedOn)
		VALUES
			(
			@EstateID,
			@AYear,
			@COAID,
			@M1,
			@M1D,
			@M1C,
			@M2,
			@M2D,
			@M2C,
			@M3,
			@M3D,
			@M3C,
			@MonthValue,
			@Debit,
			@Credit,
			@M5,
			@M5D,
			@M5C,
			@M6,
			@M6D,
			@M6C,
			@M7,
			@M7D,
			@M7C,
			@M8,
			@M8D,
			@M8C,
			@M9,
			@M9D,
			@M9C,
			@M10,
			@M10D,
			@M10C,
			@M11,
			@M11D,
			@M11C,
			@M12,
			@M12D,
			@M12C,
			@FOpen,
			@FClose,
			@CreatedBy,
			GETDATE(),
			@ModifiedBy,
			GETDATE()
			);
			  
	END 
	ELSE IF (@Amonth =5)
	BEGIN
	INSERT INTO Accounts.GLLedger
			(
			EstateID,
			AYear,
			COAID,
			M1,
			M1D,
			M1C,
			M2,
			M2D,
			M2C,
			M3,
			M3D,
			M3C,
			M4,
			M4D,
			M4C,
			M5,
			M5D,
			M5C,
			M6,
			M6D,
			M6C,
			M7,
			M7D,
			M7C,
			M8,
			M8D,
			M8C,
			M9,
			M9D,
			M9C,
			M10,
			M10D,
			M10C,
			M11,
			M11D,
			M11C,
			M12,
			M12D,
			M12C,
			FOpen,
			FClose,			
			CreatedBy,
			CreatedOn,
			ModifiedBy,
			ModifiedOn)
		VALUES
			(
			@EstateID,
			@AYear,
			@COAID,
			@M1,
			@M1D,
			@M1C,
			@M2,
			@M2D,
			@M2C,
			@M3,
			@M3D,
			@M3C,
			@M4,
			@M4D,
			@M4C,
			@MonthValue,
			@Debit,
			@Credit,
			@M6,
			@M6D,
			@M6C,
			@M7,
			@M7D,
			@M7C,
			@M8,
			@M8D,
			@M8C,
			@M9,
			@M9D,
			@M9C,
			@M10,
			@M10D,
			@M10C,
			@M11,
			@M11D,
			@M11C,
			@M12,
			@M12D,
			@M12C,
			@FOpen,
			@FClose,
			@CreatedBy,
			GETDATE(),
			@ModifiedBy,
			GETDATE()
			);  
	END 
	ELSE IF (@Amonth =6)
	BEGIN
	INSERT INTO Accounts.GLLedger
			(
			EstateID,
			AYear,
			COAID,
			M1,
			M1D,
			M1C,
			M2,
			M2D,
			M2C,
			M3,
			M3D,
			M3C,
			M4,
			M4D,
			M4C,
			M5,
			M5D,
			M5C,
			M6,
			M6D,
			M6C,
			M7,
			M7D,
			M7C,
			M8,
			M8D,
			M8C,
			M9,
			M9D,
			M9C,
			M10,
			M10D,
			M10C,
			M11,
			M11D,
			M11C,
			M12,
			M12D,
			M12C,
			FOpen,
			FClose,			
			CreatedBy,
			CreatedOn,
			ModifiedBy,
			ModifiedOn)
		VALUES
			(
			@EstateID,
			@AYear,
			@COAID,
			@M1,
			@M1D,
			@M1C,
			@M2,
			@M2D,
			@M2C,
			@M3,
			@M3D,
			@M3C,
			@M4,
			@M4D,
			@M4C,
			@M5,
			@M5D,
			@M5C,
			@MonthValue,
			@Debit,
			@Credit,
			@M7,
			@M7D,
			@M7C,
			@M8,
			@M8D,
			@M8C,
			@M9,
			@M9D,
			@M9C,
			@M10,
			@M10D,
			@M10C,
			@M11,
			@M11D,
			@M11C,
			@M12,
			@M12D,
			@M12C,
			@FOpen,
			@FClose,
			@CreatedBy,
			GETDATE(),
			@ModifiedBy,
			GETDATE()
			);  
	END 
	ELSE IF (@Amonth =7)
	BEGIN
	INSERT INTO Accounts.GLLedger
			(
			EstateID,
			AYear,
			COAID,
			M1,
			M1D,
			M1C,
			M2,
			M2D,
			M2C,
			M3,
			M3D,
			M3C,
			M4,
			M4D,
			M4C,
			M5,
			M5D,
			M5C,
			M6,
			M6D,
			M6C,
			M7,
			M7D,
			M7C,
			M8,
			M8D,
			M8C,
			M9,
			M9D,
			M9C,
			M10,
			M10D,
			M10C,
			M11,
			M11D,
			M11C,
			M12,
			M12D,
			M12C,
			FOpen,
			FClose,			
			CreatedBy,
			CreatedOn,
			ModifiedBy,
			ModifiedOn)
		VALUES
			(
			@EstateID,
			@AYear,
			@COAID,
			@M1,
			@M1D,
			@M1C,
			@M2,
			@M2D,
			@M2C,
			@M3,
			@M3D,
			@M3C,
			@M4,
			@M4D,
			@M4C,
			@M5,
			@M5D,
			@M5C,
			@M6,
			@M6D,
			@M6C,
			@MonthValue,
			@Debit,
			@Credit,
			@M8,
			@M8D,
			@M8C,
			@M9,
			@M9D,
			@M9C,
			@M10,
			@M10D,
			@M10C,
			@M11,
			@M11D,
			@M11C,
			@M12,
			@M12D,
			@M12C,
			@FOpen,
			@FClose,
			@CreatedBy,
			GETDATE(),
			@ModifiedBy,
			GETDATE()
			);  
	END 
	ELSE IF (@Amonth =8)
	BEGIN
	INSERT INTO Accounts.GLLedger
			(
			EstateID,
			AYear,
			COAID,
			M1,
			M1D,
			M1C,
			M2,
			M2D,
			M2C,
			M3,
			M3D,
			M3C,
			M4,
			M4D,
			M4C,
			M5,
			M5D,
			M5C,
			M6,
			M6D,
			M6C,
			M7,
			M7D,
			M7C,
			M8,
			M8D,
			M8C,
			M9,
			M9D,
			M9C,
			M10,
			M10D,
			M10C,
			M11,
			M11D,
			M11C,
			M12,
			M12D,
			M12C,
			FOpen,
			FClose,			
			CreatedBy,
			CreatedOn,
			ModifiedBy,
			ModifiedOn)
		VALUES
			(
			@EstateID,
			@AYear,
			@COAID,
			@M1,
			@M1D,
			@M1C,
			@M2,
			@M2D,
			@M2C,
			@M3,
			@M3D,
			@M3C,
			@M4,
			@M4D,
			@M4C,
			@M5,
			@M5D,
			@M5C,
			@M6,
			@M6D,
			@M6C,
			@M7,
			@M7D,
			@M7C,
			@MonthValue,
			@Debit,
			@Credit,
			@M9,
			@M9D,
			@M9C,
			@M10,
			@M10D,
			@M10C,
			@M11,
			@M11D,
			@M11C,
			@M12,
			@M12D,
			@M12C,
			@FOpen,
			@FClose,
			@CreatedBy,
			GETDATE(),
			@ModifiedBy,
			GETDATE()
			);  
	END 
	ELSE IF (@Amonth =9)
	BEGIN
	INSERT INTO Accounts.GLLedger
			(
			EstateID,
			AYear,
			COAID,
			M1,
			M1D,
			M1C,
			M2,
			M2D,
			M2C,
			M3,
			M3D,
			M3C,
			M4,
			M4D,
			M4C,
			M5,
			M5D,
			M5C,
			M6,
			M6D,
			M6C,
			M7,
			M7D,
			M7C,
			M8,
			M8D,
			M8C,
			M9,
			M9D,
			M9C,
			M10,
			M10D,
			M10C,
			M11,
			M11D,
			M11C,
			M12,
			M12D,
			M12C,
			FOpen,
			FClose,			
			CreatedBy,
			CreatedOn,
			ModifiedBy,
			ModifiedOn)
		VALUES
			(
			@EstateID,
			@AYear,
			@COAID,
			@M1,
			@M1D,
			@M1C,
			@M2,
			@M2D,
			@M2C,
			@M3,
			@M3D,
			@M3C,
			@M4,
			@M4D,
			@M4C,
			@M5,
			@M5D,
			@M5C,
			@M6,
			@M6D,
			@M6C,
			@M7,
			@M7D,
			@M7C,
			@M8,
			@M8D,
			@M8C,
			@MonthValue,
			@Debit,
			@Credit,
			@M10,
			@M10D,
			@M10C,
			@M11,
			@M11D,
			@M11C,
			@M12,
			@M12D,
			@M12C,
			@FOpen,
			@FClose,
			@CreatedBy,
			GETDATE(),
			@ModifiedBy,
			GETDATE()
			);  
	END
	ELSE IF (@Amonth =10)
	BEGIN
	INSERT INTO Accounts.GLLedger
			(
			EstateID,
			AYear,
			COAID,
			M1,
			M1D,
			M1C,
			M2,
			M2D,
			M2C,
			M3,
			M3D,
			M3C,
			M4,
			M4D,
			M4C,
			M5,
			M5D,
			M5C,
			M6,
			M6D,
			M6C,
			M7,
			M7D,
			M7C,
			M8,
			M8D,
			M8C,
			M9,
			M9D,
			M9C,
			M10,
			M10D,
			M10C,
			M11,
			M11D,
			M11C,
			M12,
			M12D,
			M12C,
			FOpen,
			FClose,			
			CreatedBy,
			CreatedOn,
			ModifiedBy,
			ModifiedOn)
		VALUES
			(
			@EstateID,
			@AYear,
			@COAID,
			@M1,
			@M1D,
			@M1C,
			@M2,
			@M2D,
			@M2C,
			@M3,
			@M3D,
			@M3C,
			@M4,
			@M4D,
			@M4C,
			@M5,
			@M5D,
			@M5C,
			@M6,
			@M6D,
			@M6C,
			@M7,
			@M7D,
			@M7C,
			@M8,
			@M8D,
			@M8C,
			@M9,
			@M9D,
			@M9C,
			@MonthValue,
			@Debit,
			@Credit,
			@M11,
			@M11D,
			@M11C,
			@M12,
			@M12D,
			@M12C,
			@FOpen,
			@FClose,
			@CreatedBy,
			GETDATE(),
			@ModifiedBy,
			GETDATE()
			);  
	END 
	ELSE IF (@Amonth =11)
	BEGIN
	INSERT INTO Accounts.GLLedger
			(
			EstateID,
			AYear,
			COAID,
			M1,
			M1D,
			M1C,
			M2,
			M2D,
			M2C,
			M3,
			M3D,
			M3C,
			M4,
			M4D,
			M4C,
			M5,
			M5D,
			M5C,
			M6,
			M6D,
			M6C,
			M7,
			M7D,
			M7C,
			M8,
			M8D,
			M8C,
			M9,
			M9D,
			M9C,
			M10,
			M10D,
			M10C,
			M11,
			M11D,
			M11C,
			M12,
			M12D,
			M12C,
			FOpen,
			FClose,			
			CreatedBy,
			CreatedOn,
			ModifiedBy,
			ModifiedOn)
		VALUES
			(
			@EstateID,
			@AYear,
			@COAID,
			@M1,
			@M1D,
			@M1C,
			@M2,
			@M2D,
			@M2C,
			@M3,
			@M3D,
			@M3C,
			@M4,
			@M4D,
			@M4C,
			@M5,
			@M5D,
			@M5C,
			@M6,
			@M6D,
			@M6C,
			@M7,
			@M7D,
			@M7C,
			@M8,
			@M8D,
			@M8C,
			@M9,
			@M9D,
			@M9C,
			@M10,
			@M10D,
			@M10C,
			@MonthValue,
			@Debit,
			@Credit,
			@M12,
			@M12D,
			@M12C,
			@FOpen,
			@FClose,
			@CreatedBy,
			GETDATE(),
			@ModifiedBy,
			GETDATE()
			);  
	END  
	ELSE IF (@Amonth =12)
	BEGIN
	INSERT INTO Accounts.GLLedger
			(
			EstateID,
			AYear,
			COAID,
			M1,
			M1D,
			M1C,
			M2,
			M2D,
			M2C,
			M3,
			M3D,
			M3C,
			M4,
			M4D,
			M4C,
			M5,
			M5D,
			M5C,
			M6,
			M6D,
			M6C,
			M7,
			M7D,
			M7C,
			M8,
			M8D,
			M8C,
			M9,
			M9D,
			M9C,
			M10,
			M10D,
			M10C,
			M11,
			M11D,
			M11C,
			M12,
			M12D,
			M12C,
			FOpen,
			FClose,			
			CreatedBy,
			CreatedOn,
			ModifiedBy,
			ModifiedOn)
		VALUES
			(
			@EstateID,
			@AYear,
			@COAID,
			@M1,
			@M1D,
			@M1C,
			@M2,
			@M2D,
			@M2C,
			@M3,
			@M3D,
			@M3C,
			@M4,
			@M4D,
			@M4C,
			@M5,
			@M5D,
			@M5C,
			@M6,
			@M6D,
			@M6C,
			@M7,
			@M7D,
			@M7C,
			@M8,
			@M8D,
			@M8C,
			@M9,
			@M9D,
			@M9C,
			@M10,
			@M10D,
			@M10C,
			@M11,
			@M11D,
			@M11C,
			@MonthValue,
			@Debit,
			@Credit,
			@FOpen,
			@FClose,
			@CreatedBy,
			GETDATE(),
			@ModifiedBy,
			GETDATE()
			);  
	END 
 --  END  
   
   BEGIN
   Declare @M1Value   as numeric(18,3)=0
   Declare @FCloseValue as numeric(18,3)=0
   
   select  
   @FCloseValue = (M1+M2+M3+M4+M5+M6+M6+M7+M8+M9+M10+M11+M12),
   @M1Value = (Select  M1 from Accounts .GLLedger where COAID  =@COAID AND EstateID =@EstateID  )
   from Accounts .GLLedger 
   Where COAID  =@COAID AND EstateID =@EstateID   and Ayear = @AYear
   select @FCloseValue ,@M1Value 

   Update Accounts .GLLedger 
   Set FOpen = @M1Value , FClose = @FCloseValue
   Where COAID  =@COAID AND EstateID =@EstateID 
   
    
   END 
   
  
          
--	RETURN SCOPE_IDENTITY();	
	
END TRY
BEGIN CATCH
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
    
    SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();

	RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH;










